/* --- DEFAULT STYLES --- */

/* Stylesheets page */
.sheets {
    margin-right: 0;
}

a {
    color: #1365B8;
}
a:hover,
a:focus {
    text-decoration: underline;
}

button {
    background: #1365B8;
    color: #FFF;
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    padding: 0 1em;
    border: none;
    font-weight: normal;
    outline: none;
    cursor: pointer;
    transition: background 0.15s linear;
}
button:hover,
button:focus {
    background-color: #48D;
}
button:active {
    background-color: #185899;
}

label {
    cursor: pointer !important;
}

body { 
    font-family: sans-serif; 
    line-height: 1.4; 
    color: #333; 
}

hr {
    border: none;
    border-top: 1px dotted #ccc;
    margin: 1em 0;
}

.infobar {
    padding: 1em 1.5em !important;
    color: #75610D;
    border: none;
}


/* --- HEADER --- */

/* Top bar */

#sr-header-area { 
    border: none; 
    background: none;
    font-size: 1em;
}

.sr-bar a {
    color: #C2D7FF;
    text-transform: lowercase;
    padding: 0.3em 0.6em;
    transition: color 0.2s linear;
}
.sr-bar a:hover,
.sr-bar a:focus {
    color: #fff;
    text-decoration: none;
}
.sr-bar .separator {
    display: none;
}
.sr-list .separator {
    color: #8AAFDD;
}
#sr-header-area .selected a {
    color: #fff;
    text-decoration: none;
    line-height: 1.8;
    display: inline-block;
}
#sr-header-area .selected a:hover, 
#sr-header-area .selected a:focus { 
    text-decoration: underline; 
}
#sr-header-area .width-clip { 
    left: 5px; 
}
#sr-more-link { 
    color: #fff;
    background-color: #387DD5;
    padding: 0 1em;
    border-radius: 0 0 0 3px;
    text-decoration: none;
    line-height: 2.5;
    opacity: 1;
    text-transform: lowercase;
}

/* User links */

#header-bottom-right {
    background: none;
    padding: 1em;
    border: none;
}
#header-bottom-right a {
    color: #C2D7FF;
    transition: color 0.2s linear;
}
#header-bottom-right a:hover,
#header-bottom-right a:focus {
    color: #fff;
    text-decoration: none;
}
#header-bottom-right .separator {
    color: rgba(255,255,255,0.3);
    margin: 0px 1.5ex 0px 1.2ex;
}
.user {
    color: #fff;
}
.user .userkarma {
    border-bottom: 1px dotted rgba(255,255,255,0.3);
}

.message-count {
    color: #1365B8 !important;
    background-color: #FFF;
    border-radius: 10px;
    text-align: center;
    position: relative;
    margin: 0 -10px 0 0;
    left: -5px;
    top: -6px;
    font-size: 9px;
    padding: 0 5px;
}

.pref-lang {
    font-weight: normal;
}


/* Main area and links */

#header { 
    background: #1365B8; 
    border-bottom: none; 
}
#header-bottom-left .tabmenu { 
    margin: 0 0 0 5px;
}
#header-img { 
    margin: 30px 0 -7px 13px; 
}

.pagename {
    margin-right: 1em;
    padding-bottom: 0.55em;
    display: inline-block;
}
.pagename, 
.pagename a {
    color: #C2D7FF;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    font-variant: normal !important;
    padding-left: 0.2em;
    transition: color 0.2s linear;
}
.pagename a:hover,
.pagename a:focus {
    text-decoration: none;
    color: #fff;
}

.tabmenu li { 
    margin: 0 1px 0 0;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.tabmenu li a {
    background-color: transparent;
    color: #C2D7FF;
    padding: 0 .6em;
    line-height: 3;
    cursor: pointer;
    border: none !important;
    font-weight: normal;
    display: inline-block;
    position: relative;
    transition: color 0.2s linear, text-shadow 0.2s linear;
}
.tabmenu li a:hover,
.tabmenu li a:focus {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 7px RGBA(255,255,255,0.4);
}
.tabmenu li.selected a {
    background: none;
    color: #fff;
    text-decoration: none;
    margin: 0 .6em;
    font-weight: bold;
}
.tabmenu li.selected a:after {
    content: '';
    position: absolute;
    border: 5px solid #FFF;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-color: transparent transparent #FFF;
}

/* --- Icons --- */

#mail.nohavemail {
    background-image: url(%%sprite%%);
    background-position: -27px -26px;
}
#mail.havemail {
    background-image: url(%%sprite%%);
    background-position: -5px -26px;
}

#modmail.nohavemail {
    background-image: url(%%sprite%%);
    background-position: -27px -4px;
}
#modmail.havemail {
    background-image: url(%%sprite%%);
    background-position: -5px -4px;
}

/* --- MAIN CONTENT --- */
.flat-list li a.gold {
    background-color: #fff;
}

.entry .buttons li a {
    color: #aaa;
    transition: color 0.2s linear;
}
.entry:hover .buttons li a {
    color: #777;
}

.link {
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.listing-page .linklisting .link.stickied {
    border: none;
    padding: 1em 1em 1.4em;
    box-shadow: 0 0 8px #ddd;
    margin-bottom: 1.8em;
    transition: box-shadow 0.3s linear;
}
.listing-page .linklisting .link.stickied:hover {
    box-shadow: 0 0 4px #aaa;
}

.content { 
    margin: 2.4em 0 0 1.2em;
}


.panestack-title { 
    margin-bottom: 5px; 
    border-color: #ccc; 
}

.arrow { background-image: url(%%minimal-arrows%%) !important; width: 15px; height: 14px; }

.arrow.up { background-position: 50% -4px; }
.arrow.up:hover, .arrow.upmod { background-position: 50% -23px; }
.arrow.upmod:hover { background-position: 50% -41px; }

.arrow.down { background-position: 50% -63px; }
.arrow.down:hover, .arrow.downmod { background-position: 50% -80px; }
.arrow.downmod:hover { background-position: 50% -98px; }

.midcol { margin-left: 0; }
.gadget .midcol { width: 17px; }

.link .score.likes { color: #ff8932; }
.link .score.dislikes { color: #2178b8; }

.expando-button {
    background: #eee!important;
    color: #999!important;
    text-align: center;
    height: 24px;
    width: 24px;
    margin-right: 0.8em;
    margin-top: 0.4em;
    cursor: pointer;
}
.expando-button:hover,
.expando-button:focus {
    background: #f4f4f4!important;
}
.expando-button:active {
    background: #ccc !important;
}
.expando-button:before {
    content: 'Aa';
    font-weight: bold;
}
.expando-button.video:before {
    width: 0;
    height: 0;
    display: inline-block;
    overflow: hidden;
    border: 6px solid #FFF;
    border-color: transparent transparent transparent #999;
    border-width: 5px 0 5px 7px;
    margin: 4px 0 -3px;
}
.expando-button:after {
    content: '+';
    display: block;
    margin-top: -0.5em;
    text-indent: 1em;
}
.expando-button.expanded:after {
    content: '-';
}
.linkinfo {
    padding: 25px 10px;
    border: 1px solid #ddd;
    background: #fff;
    text-align: center;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.linkinfo .date {
    display: none;
}

.linkinfo .score { 
    color: #777;
}
.linkinfo .score .number {
    margin-right: .1em;
}
.linkinfo .score .number,
.linkinfo .score .word {
    color: #000;
    font-weight: normal;
    font-size: 1.8em;
}
.linkinfo .score .word {
    margin-right: .2em;
}

.linkinfo .upvotes { color: #f17432; }
.linkinfo .downvotes { color: #2178b8; }
.linkinfo .shortlink { display: none; }

.users-online::before {
    background: #2c6;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    margin-top: 4px;
}

.rank { 
    display: none; 
}
.comment .midcol { 
    width: 20px; 
}
.link .usertext .md {
    border: none;
    border-bottom: 1px solid #ddd;
    background: #fff;
    padding: 5px 15px 5px 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.usertext-edit textarea {
    border: 1px solid #ddd;
    padding: 5px 8px;
}
.usertext-edit textarea:hover,
.usertext-edit textarea:focus {
    border-color: #999;
    outline: none;
}

.usertext.border .usertext-body { 
    background: #eef3ff; 
}

.usertext button.cancel { 
    background: #555; 
}
.usertext button.cancel:hover,
.usertext button.cancel:focus { 
    background: #666; 
}

.link.last-clicked {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px dashed #ddd;
}
.link .title {
    line-height: 1.1;
    margin-bottom: 6px;
}

.fancy-toggle-button a {
    text-decoration: none !important;

}
.fancy-toggle-button .active {
    border: none;
    padding: 3px 10px;
    border-radius: 0;
}
.fancy-toggle-button .remove {
    background: #b44;
}

/* --- MARGIN FIXES --- */

.content[role=main] {
    margin-right: 330px;
}
.panestack-title,
.searchpane,
.menuarea {
    margin-right: 0;
}

/* --- SEARCH --- */

.searchpane {
    border: none;
    background: #F5F5F5;
    padding: 1.5em 2em 2em;
    margin-bottom: 2em;
}
.searchpane input[type=text] {
    width: 95%;
}

/* --- SIDE AREA --- */

.side {
    margin-left: 0;
}
.side .spacer {
    margin: 10px 0 20px;
}

.side .spacer:first-child {
    margin-top: 20px;
}

.side #search input[type="text"] {
    width: 96%;
    font-size: 16px;
    border-color: #ddd;
    color: #334;
    padding: 0.4em 0 0.4em 0.5em;
    border-radius: 0 !important;
}
.side #search > input:hover,
.side #search > input:focus {
    border-color: #999;
    outline: none;
}

#searchexpando {
    border: none;
    background: #e7f2fa;
    margin-top: -3px;
    padding: 1.2em 1em 0.5em;
}


.sidecontentbox .content {
    border: none;
    padding-left: 0;
    border-top: 1px solid #ddd;
}

.flairtoggle,
.titlebox .tagline {
    display: none;
}

.side .usertext {
    padding-top: 10px;
}

.side .morelink {
    border: none;
    height: auto;
}
.side .morelink .nub { 
    display: none; 
}
.side .morelink a {
    background-color: #1365B8;
    letter-spacing: 0;
    display: block;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 1em;
    margin: 0 0 -1em;
    width: auto;
    line-height: 2.6;
    transition: background-color 0.15s linear;
}
.side .morelink a:hover,
.side .morelink a:focus {
    background-color: #48d;
    text-decoration: none;
}

.side .morelink ~ .spacer {
    display: none;
}

.submit-text {
    margin-top: -1.5em;
    padding-bottom: 1.5em;
}

.sidebox.create {
    display: none;
}


/* --- DESCRIPTION AREA --- */

.side .md blockquote {
    padding: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    margin: 1.5em 0;
}

.side .md blockquote p {
    margin: .5em 0;
}

.side blockquote p a {
    font-size: 1.1em;
    text-decoration: underline;
}
.titlebox blockquote p a:hover {
    text-decoration: none;
}

.titlebox blockquote p a[href="/r/minimalism/search?q=flair:'%5Blifestyle%5D'&restrict_sr=on&sort=new"] {
    color: #00C00F;
}
.titlebox blockquote p a[href="/r/minimalism/search?q=flair:'%5Barts%5D'&restrict_sr=on&sort=new"] {
    color: #D6257A;
}

.md hr {
    display: none;
}

.titlebox ol + ul {
    margin: 1em !important;
}
.titlebox ol li {
    margin-bottom: .4em;
}

.titlebox h1 {
    padding-bottom: 3px;
}

.titlebox h1 a {
    color: #222;
    letter-spacing: 1px;
    font-weight: normal;
    font-family: tahoma;
}

.side .md h2 {
    font-size: 1.4em;
    font-weight: normal;
}

.side .md h3 {
    font-size: 1.2em;
    font-weight: normal;
    color: #555;
}

.side .md ul + h3 {
    margin-top: 1.5em;
}

.titlebox .md { padding: 0 0 10px; }

.md p, .md h1 { margin: 7px 0; }
.md p:first-child { margin-top: 3px; }

.md ul,
.md ol { padding-left: 1.4em; }

.comment .child { 
   margin-top: 15px; 
   border-color: #ddd; 
}

.commentarea .usertext blockquote {
    color: #777;
}
.commentarea .md h2,
.commentarea .md h3 {
    margin: 1.2em 0 0.8em;
}
.titlebox .bottom { display: none; }

.titlebox hr+h1 {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 1.6;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    padding: 10px 10px 5px 0;
    color: #777;
    margin: -0.5em 0 1em;
}

.thing .title.loggedin { 
    color: #16A; 
}
.thing .title.loggedin:hover, 
.thing .title.loggedin:focus { 
    color: #159; 
}

.thing .title.loggedin:visited, 
.thing .title.click, 
.thing .title:visited,
.thing .title.loggedin.click, 
.thing .title.loggedin.click:visited { 
    color: #777; 
}

.thing .title:visited:hover, 
.thing .title:visited:focus,
.thing .title.loggedin.click:hover, 
.thing .title.loggedin.click:focus { 
    color: #444 !important; 
}

.thing.stickied a.title {
    font-weight: normal !important;
}

.menuarea { border-color: #bbb; }


/* --- FLAIR --- */

.flairselectbtn {
    border: 1px solid #ccc;
    padding: 0.1em .8em !important;
    border-radius: 2px;
    box-shadow: 0 1px 1px #EEE;
}
.flairselectbtn:hover,
.flairselectbtn:focus {
    text-decoration: none !important;
    border-color: #1365B8;
    color: #1365B8 !important;
}

/* -- Flair selector popup -- */

.flairoptionpane {
    margin-bottom: -0.4em;
    overflow: visible;
}
.flairselector {
    box-shadow: 4px 4px 0 #eee;
}

.flairselector.drop-choices.active {
    border: 1px solid #ddd;
}

.flairselector h2,
.flairselector .flairselection,
.flairselector .customizer,
.flairselector .status,
.flairselector li a {
    display: none !important;
}

.flairselector form button {
    margin-left: 0;
}

.flairselector ul {
    display: block;
    width: 100% !important;
    max-width: inherit;
    overflow: visible;
}
.flairselector li {
    text-align: center !important;
    position: relative;
    padding-left: 0;
    background: #F6F6F6;
    margin-bottom: 0.2em;
    font-size: 1.8em;
}
.flairselector li:hover {
    background: #F0F0F0;
}
.flairselector li.selected:after {
    content: "✓";
    background: #444;
    position: absolute;
    top: 50%;
    right: -0.6em;
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    color: #FFF;
    border-radius: 50%;
    margin-top: -12px;
}

.flairselector form {
    border-top: none;
}

.flairselector button {
    width: 100%;
    display: block;
}

.link .title {
    position: relative;
    overflow: visible;
}

.linkflairlabel {
    color: #1365B8;
    text-align: center;
    line-height: 1.7;
    vertical-align: middle;
    font-size: 0.9em;
    margin-right: .2em;
    border: none;
    background: none;
}
.linkflairlabel[title="[lifestyle]"],
.linkflairlabel.linkflair-lifestyle {
    color: #00C00F;
}
.linkflairlabel[title="[arts]"],
.linkflairlabel.linkflair-arts {
    color: #D6257A;
}

/* -- SUBMIT FORM -- */

#reddit-field {
    display: none;
}

.roundfield {
    background: #f5f5f5;
}
.roundfield textarea, 
.roundfield input[type=text], 
.roundfield input[type=url], 
.roundfield input[type=password], 
.roundfield input[type=number] {
    width: 96%;
}

.tabmenu.formtab a {
    display: inline-block;
    color: #555;
    background-color: #E4F2FB;
}
.tabmenu.formtab .selected a {
    color: #fff;
    font-size: inherit;
    background-color: #1365B8;
}

.formtabs-content {
    border-top: 2px solid #1365B8;
}

.content.submit .info-notice {
    border: none;
    border-radius: 0;
}


/* -- WIKI AREA -- */